---
import api from "@/helpers/api";
import PrivateLayout from "@/layouts/private.astro";
import ClientMeta from "@/components/private/ClientMeta.svelte";
import SystemsTable from "@/components/private/SystemsTable.svelte";

const id = Astro.params.id as string;
const client = await api({
  method: "GET",
  endpoint: "clientId",
  base: Astro.url.origin,
  headers: Astro.request.headers,
  substitutions: { clientId: id },
});
---

<PrivateLayout class="flex-1 flex flex-col items-center">
  <div class="text-sm breadcrumbs w-full text-left px-8 py-4 mb-4">
    <ul>
      <li><a href="/clients">Clients</a></li>
      <li class="font-semibold">{client.name}</li>
    </ul>
  </div>
  <div class="w-full flex gap-0 max-w-screen-xl justify-self-center">
    <main class="flex-1 p-4 p-r2">
      <SystemsTable client:visible {client} />
    </main>
    <aside class="flex-none p-4 pl-2">
      <ClientMeta client:visible {client} />
    </aside>
  </div>
</PrivateLayout>
