---
import api from "@/helpers/api";
import PrivateLayout from "@/layouts/private.astro";
import ClientCard from "@/components/private/ClientCard.svelte";

const clients = await api({
  method: "GET",
  endpoint: "clients",
  base: Astro.url.origin,
  headers: Astro.request.headers,
});
---

<PrivateLayout>
  <section class="p-10 flex flex-wrap gap-4 justify-evenly">
    <ClientCard client:visible />
    {clients.map((client) => <ClientCard client:visible {client} />)}
  </section>
</PrivateLayout>
