---
import api from "@/helpers/api";
import PrivateLayout from "@/layouts/private.astro";
import Stats from "@/components/private/Stats.svelte";
import ClientCard from "@/components/private/ClientCard.svelte";

const clients: any[] = []; /*await api({
  method: "GET",
  endpoint: "clients",
  base: Astro.url.origin,
  headers: Astro.request.headers,
});*/

const respondents: any[] = []; /*await api({
  method: "GET",
  base: Astro.url.origin,
  headers: Astro.request.headers,
  endpoint: "nonCurrentSUSRespondents",
});*/

const auth: any = {}; /*await api({
  method: "GET",
  endpoint: "me",
  base: Astro.url.origin,
  headers: Astro.request.headers,
})*/

const name = auth.user?.name ?? "";
---

<PrivateLayout>
  {
    !!respondents.length && (
      <header class="flex p-8 justify-center items-center text-center">
        <Stats {clients} {respondents} client:only="svelte" />
      </header>
    )
  }
  <section class="p-10 flex flex-wrap gap-4 justify-evenly">
    <ClientCard client:visible name={name} />
    {clients.map((client) => <ClientCard client:visible {client} />)}
  </section>
</PrivateLayout>
