---
import api from "@/helpers/api";
import PrivateLayout from "@/layouts/private.astro";
import SessionList from "@/components/sessions/SessionList.svelte";

const sessions = await api({
  method: "GET",
  endpoint: "sessions",
  base: Astro.url.origin,
  headers: Astro.request.headers,
});
---

<PrivateLayout class="flex-1">
  <div class="max-w-5xl">
    <SessionList sessions={sessions} client:only="svelte" />
  </div>
</PrivateLayout>
