---
import BaseLayout from "./base.astro";
import { getSession } from "auth-astro/server";
import Logo from "@/components/common/Logo.svelte";
import AvatarMenu from "@/components/private/AvatarMenu.svelte";

const session = await getSession(Astro.request);
const fname = session?.user?.name?.split(" ")[0] ?? "";
const lname = session?.user?.name?.split(" ")[1] ?? "";
const image = session?.user?.image ?? "";

const { class: className } = Astro.props;
---

<BaseLayout>
  <div class="navbar bg-neutral shadow-sm z-10">
    <div class="flex-1">
      <Logo />
    </div>
    <AvatarMenu client:visible {fname} {lname} {image} />
  </div>
  <div class={className ?? ""}>
    <slot />
  </div>
</BaseLayout>
