---
import BaseLayout from "./base.astro";
import MessageBoundary from "@/components/common/MessageBoundary.svelte";

const { class: className, sidebar } = Astro.props;
---

<BaseLayout>
  <MessageBoundary client:load>
    <main class="flex-1 flex overflow-auto">
      {
        sidebar && (
          <aside class="hidden xl:flex flex-none flex-col p-6 bg-neutral shadow-sm w-full max-w-sm fixed left-0 top-0 bottom-0">
            <slot name="sidebar" />
          </aside>
        )
      }
      <div class={`${sidebar ? "xl:pl-96" : ""} ${className ?? ""}`}>
        <slot />
      </div>
    </main>
  </MessageBoundary>
</BaseLayout>
